*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: white;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    padding-top: 0.1px;
}

#nav{
    height: 10vh;
    width: 100%;
    /* background-color: blue; */
    margin-top: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h1{
    /* background-color: aqua; */
    height: 100%;
    width: 20%;
    font-size: 3vw;
    letter-spacing: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
#nav h1::after{
    content: "©";
    font-size: 1.2vw;
    position: absolute;
    left: 15.8vw;
    top: 0.8vw;
}
#nav h2{
    /* background-color: aqua; */
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.5vw;
    font-weight: 400;
}
#nav i{
    margin-right: 50px;
    font-size: 1.5vw;
}

#center{
    height: 97%;
    width: 100%;
    /* background-color: rgb(17, 0, 255); */
    padding: 4vw 7vw;
    position: relative;
}
#content{
    height: 100%;
    width: 100%;
    background-color: crimson;
    position: relative;
}

#content video{
    height: 105%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: brown; */
    padding: 1vw 3vw;
    color: white;
}
#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.6vh;
}
#over1 h1{
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#over1 h2{
    font-size: 3vw;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:1.5vw;
    border: 1px solid white;
    border-radius: 50px;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    margin-top: 5vh;
}
#over2 h4{
    font-size: 2vw;
    font-weight: 300;
}
#over2 img{
    height: 12vh;
}

#scroll{
    height: 27%;
    width: 100%;
    /* background-color: blue; */
    padding: 1vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 100%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#container img{
    height: 100%;
    width: 11vw;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 1.27vw;
}

@keyframes anime {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    border-bottom: 2px solid black;
}
#alphabet h6{
    font-size: 1vw;
    font-style: italic;
    /* background-color: yellow; */
    padding: 0.7vw 1vw;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
}

#page2{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */
    pad: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 4vw;
}

#page2 #p2-part1{
    height: 100%;
    width: 50%;
    background-image: url(Media/image10.jpg);
    background-size: cover;
    background-position: 0 30%;
}
#page2 #p2-part2{
    height: 100%;
    width: 47%;
    /* background-color: rgb(184, 121, 39); */
}
#page2 #p2-part2 img{
    height: 75%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;

}
#p2-part2 #text{
    height: 25%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#text h3{
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1.7vw;
}
#text p{
    width: 50%;
    font-size: 1vw;
    line-height: 1.2vw;
}

#vogue{
    height: 15%;
    width: 100%;
    /* background-color: cadetblue; */
    padding: 0.5vw 4vw;
}
#vogue h1{
    font-size: 3.5vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: 200;
}

#page3{
    height: 90%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 4vw;
}
#page3 #pg3-left{
    height: 80%;
    width: 30%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-top: 6vw;
}
#pg3-left #circular{
    height: 80%;
    width: 100%;
    background-image: url(Media/circular.png);
    background-size: cover;
    background-position: 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#circular img{
    height: 5vw;
    width: 5vw;
    margin-bottom: 8vh;
}
#pg3-left h3{
    font-size: 1.5vw;
    font-weight: 500;
}
#page3 #pg3-right{
    height: 100%;
    width: 50%;
    /* background-color: rgb(53, 250, 4); */
}
#pg3-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 20%;
}

#picture{
    height: 90%;
    width: 100%;
    padding: 4vw;
}
#picture #pic-container{
    height: 100%;
    width: 100%;
    background-image: url(Media/image12.jpg);
    background-size: cover;
    background-position: 0 70%;
}

#page4{
    height: 90%;
    width: 100%;
    position: relative;
    padding: 2vw 4vw;
}
#page4>h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 7vh;
}

.elem{
    height: 15vh;
    width: 100%;
    /* background-color: aquamarine; */
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    transition: all ease 0.7s;
}

.elem:hover{
    background-color: rgb(207, 207, 207);
}

.elem img{
    height: 80px;
    width: 80px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    opacity: 0;
    transition: all ease 0.7s;
}

.elem h2{
    width: 6%;
    font-size: 1.2vw;
    line-height: 1.5vw;
    text-transform: uppercase;
    font-weight: 500;
}
.elem .elem-part2{
    width: 45%;
}
.elem .elem-part2 h1{
    font-size: 2.5vw;
    font-weight: 400;
}
.elem .elem-part2 h5{
    font-size: 1vw;
    font-weight: 500;
    text-transform: uppercase;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:hover img{
    opacity: 1;
    left: 25%;
}

#marque{
    width: 100%;
    /* background-color: rgba(165, 42, 42, 0.541); */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#marque h1{
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
    color: transparent;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#movie{
    height: 90%;
    width: 100%;
    padding: 4vw;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
}
#movie-left{
    height: 100%;
    width: 48%;
    background-image: url(Media/image15.jpg);
    background-size: cover;
    background-position: 0 40%;
}

#movie-right{
    height: 100%;
    width: 48%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#movie-right #mvr-top{
    height: 50%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4vh;
}
#mvr-top h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
#mvr-top h5{
    width: 60%;
    font-size: 1.3vw;
    font-weight: 600;
}
#mvr-top p{
    font-size: 1.1vw;
    font-weight: 400;
}

#movie-right #mvr-bottom{
    height: 50%;
    width: 100%;
    /* background-color: rgb(49, 226, 43); */
    display: flex;
    justify-content: space-between;
}
#mvr-bottom #img1{
    height: 100%;
    width: 60%;
    object-fit: cover;
    object-position: 0 18%;
}
#mvr-bottom #img2{
    height: 100%;
    width: 35%;
    object-fit: cover;
}

#blog{
    height: 95%;
    width: 100%;
    padding: 4vw 4vw 6vw 4vw;
    /* background-color: coral; */
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#blog h1{
    width: 10%;
    height: fit-content;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

#blog1{
    height: 100%;
    width: 40%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#blog1 h5{
    font-size: 1.5vw;
    font-weight: 500;
}
#blog1 h5::before{
    content: "B";
    padding: 0 0.7vw;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 1vw;
}

#blog1 img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: 0 55%;
}


#blog2{
    height: 100%;
    width: 45%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#blog2 h5{
    font-size: 1.5vw;
    font-weight: 500;
}
#blog2 h5::before{
    content: "B";
    padding: 0 0.7vw;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 1vw;
}

#blog2 img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
}

#footer{
    height: 30%;
    width: 100%;
    padding-left: 4vw;
    /* background-color: darkcyan; */
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}
#footer h1{
    height: 100%;
    width: 20%;
    font-size: 3vw;
    letter-spacing: -5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}
#footer h1::after{
    content: "©";
    font-size: 1.2vw;
    position: absolute;
    left: 11.3vw;
    top: 0.4vw;
}

#footer h2{
    height: 100%;
    width: 18%;
    font-size: 1.5vw;
    font-weight: 400;
    padding-top: 2.5vh;
    text-align: center;
}
#border{
    border-right: 2px solid black;
}

#footer-r8{
    height: 100%;
    width: 42%;
    /* background-color: cornflowerblue; */
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#footer-r8 h3{
    font-size: 1.5vw;
    font-weight: 400;
    padding-top: 2.5vh;
    text-align: center;
}

#contact{
    height: 65%;
    width: 100%;
    /* background-color: blueviolet; */
    padding: 1vw 0 0 7.5vw;
    border-top: 2px solid black;
}
#social{
    height: 40%;
    width: 50%;
    /* background-color: chartreuse; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#social i{
    font-size: 1.6vw;
}
#contact p{
    font-size: 1.06vw;
    font-weight: 500;
    line-height: 1.2vw;
}

#footer-space{
    height: 4%;
    width: 100%;
}